.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;
}

.gallery-image:hover {
    transform: scale(1.05);
}